body{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    text-transform: capitalize;
    height: 1.5;
    background-color: rgb(255, 230, 255);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
ul{
    margin: 0;
    padding: 0;
}

header{
    background: rgb(151, 105, 151);
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 2px orangered solid;
    
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    
}
header a:hover{
    color: orangered;
}
 header #branding{
    float: left;
}

header #branding h1{
    color: orangered;
}
header span{
    color: white;
}

header ul {
    list-style-type: none;
    
}
header li{
    float: left;
    display: inline;
   padding: 0 20px 0 20px;
    
     
}
header nav{
    float: right;
    margin-top: 20px;
}

#showcase{
    min-height: 400px;
    background:url(https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_coco_16x9_9ccd7110.jpeg) 0 ;
    background-image: 100px;
    color: white;
    text-align: center;
    border-bottom: 2px orangered solid;
    
    
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;

}
#showcase p{
    margin-top: 10px;
    font-size: 20px;
    

}

#newsletter{
    background: rgb(151, 105, 151);
    
}

#newsletter h1{
    
    margin-top: 10px;
    float: left;
    color: white;
}

#newsletter form{
    float:right;
    margin-top: 10px;
}

 #newsletter input[type="email"]{
    padding: 6px;
    border: 0.1px solid black;
    border-radius: 5px;
}

.button_1{
    background-color: white;
    color: orangered;
    padding: 6px;
    border-radius: 5px;
}

.button_1:hover{
    background-color: orangered;
    color: white;
}

#boxes{
    margin-top: 10px;
    text-align: center;
    border-bottom: 2px orangered solid ;
    
    
}
#boxes .box{
    float: left;
    width: 30%;
}

#boxes img{
    width: 50%;
    height: 50%;
}

.box{
    margin-top: 30px;
    margin-left: 20px;
}

.box h3{
    text-align: center;

}
.box p{
    text-align: center;
    padding-right: 20px;
    
}


footer {
    border-top: 1px orangered solid;
    text-align: center;
    color: white;
    background: rgb(151, 105, 151);
    min-height: 100px;
}
footer p{
    margin-top: 40px;
   font-size: 18px;

}


.wrapper{
    margin-top: 20px;
    display:grid;
    grid-template-columns: 70% 30%;
    grid-gap:1em;
    margin-bottom: 20px;
  }

  .wrapper > div{
    background:rgb(151, 105, 151);
    padding:1em;
  }

.wrapper h2,p{
    text-transform: capitalize;
    color: white;
}

.wrapper h2{
    font-weight: bold;
    color: black;
    
}

footer #footer_aboutus {
    border-top: 1px orangered solid;
    text-align: center;
    color: white;
    background: rgb(151, 105, 151);
    
    
}
#footer_aboutus p{
    margin-top: 40px;
   font-size: 18px;

}

#services_main{
    text-align: center;
}

.name_price{
    width: 60%;
    float: left;
     ;
}

.web{
    background-color: grey;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.name_price p{
    color: black;
}

.quote{
    width: 30%;
    float: left;
    background-color: rgb(255, 176, 147);
    padding:20px;
    margin-top: 10px;
    border-radius: 10px;
}

.quote h2{
    color: black
}



.quote input[type="text"] {
    width: 100%;
    padding: 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   
}
.quote button{
    float: left;
    width: 40%;
  background-color:orangered;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quote button:hover{
    background-color: rgb(255, 100, 44);
}
  
